body {
    background-color: black;
    font-family: 'Futura Condensed PT', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.tech-item h1{
    position: absolute;
    margin-top: 1010px;
    font-size: 10rem;
}


.tech-stack-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.5;
    transform: translateY(20%);
    position: relative;
}

.tech-item {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.tech-stack-bg {
    position: absolute;
    bottom: 65%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 18rem; 
    opacity: 0.1; 
    white-space: nowrap;
    letter-spacing: 5px;
    z-index: -1; 
}

.tech-item h1 {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.tech-item h1:hover {
    opacity: 0.2;
}

.images {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    z-index: 0;
}

.images img {
    margin: 10px;
    width: 80px;
    height: 80px;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.tech-item:hover .images {
    display: flex;
}

.tech-item:hover .images img {
    opacity: 1;
    transform: scale(1.1);
}

